
// ________________________________________________________________________________
// pages des gites
// ________________________________________________________________________________

.template-page-gite {
  display: flex;
  width: 100%;
  height: 100vh;
  .carousel {
    width: 50%;
    .carousel-item {
      img {
        width: 100%;
        height: 100vh;
      }
      .carousel-item.turn {
        img {
          image-orientation: from-image;
        }
      }
    }
  }
  .description-gite {
    position: relative;
    width: 50%;
    background-color: white;
    .fleche-previous-gite {
      position: absolute;
      right: 10%;
      top: 2%;
      height:  7.125vw;
      width: 2.875vw;
      font-size:  3.125vw;
      .fa-arrow-up {
        color: #f02340;
      }
    }
    .logo-les-autels {
      img {
        height: 3.375vw;
        width: 19vw;
      }
    }
    .titre-page-gite {
      position: relative;
      top: 6%;
      left: 5%;
      height: 4.9375vw;
      width:  21.0625vw;
      h1 {
        color: #FF0041;
        font-family: Roboto;
        font-size:  3.75vw;
        letter-spacing: 0;
        line-height: 4.9375vw;
      }
    }
    .capacite-page-gite {
      position: absolute;
      top: 20%;
      left: 5%;
      height:  3.3125vw;
      width:  14.375vw;
      p {
        color: #424242;
        font-family: "Roboto Condensed";
        font-size: 1.875vw;
        font-weight: 300;
        letter-spacing: 0;
        line-height:  3.3125vw;
      }
    }
    .element-1 {
      position: absolute;
      top: 30%;
      left: 5%;
      height: 2.4375vw;
      width: 31.25vw;
      p {
        color: #424242;
        font-family: "Roboto Condensed";
        font-size: 1.875vw;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 2.4375vw;
      }
    }
    .element-2 {
      position: absolute;
      top: 35%;
      left: 5%;
      height: 2.4375vw;
      width: 31.25vw;
      p {
        color: #A5A5A5;
        font-family: Roboto;
        font-size: 1.25vw;
        font-style: italic;
        letter-spacing: 0;
        line-height: 1.625vw;
      }
    }
    .element-3 {
      position: absolute;
      top: 40%;
      left: 5%;
      display: flex;
      img {
        margin-right: 0.625vw;
        height: 5vw;
      }
    }
    .element-4 {
      position: absolute;
      top: 52%;
      left: 5%;
      height: 2.4375vw;
      width: 31.25vw;
      p {
        color: #424242;
        font-family: "Roboto Condensed";
        font-size: 1.875vw;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 2.4375vw;
      }
    }
    .element-5 {
      position: absolute;
      top: 57%;
      left: 5%;
      height: 2.4375vw;
      width: 31.25vw;
      p {
        color: #A5A5A5;
        font-family: Roboto;
        font-size: 1.25vw;
        font-style: italic;
        letter-spacing: 0;
        line-height: 1.625vw;
      }
    }
    .element-6 {
      position: absolute;
      top: 62%;
      left: 5%;
      display: flex;
      img {
        margin-right: 0.625vw;
        height: 5vw;
      }
    }
    .element-7 {
      position: absolute;
      top: 75%;
      left: 5%;
      height: 2.4375vw;
      width: 31.25vw;
      p {
        color: #424242;
        font-family: "Roboto Condensed";
        font-size: 1.875vw;
        letter-spacing: 0;
        line-height: 2.4375vw;
      }
    }
    .element-8 {
      position: absolute;
      top: 80%;
      left: 5%;
      height: 2.4375vw;
      width: 43.75vw;
      p {
        color: #424242;
        font-family: "Roboto Condensed";
        font-size: 1.25vw;
        font-weight: 300vw;
        letter-spacing: 0;
        line-height: 2;
      }
    }
    .boutton-dispo {
      position: absolute;
      bottom: 5%;
      left: 35%;
      a {
        border: #FF0041 solid  0.125vw;
        background-color: #FF0041;
        padding: 1.25vw;
        border-radius: 3.125vw;
        font-size: 1.25vw;
        transition: .25s;
        color: white;
        &:hover {
          text-decoration: none;
          color: #FF0041;
          background-color: #f4f4f4;
        }
      }
    }
  }
}

.pagination {
  position: absolute;
  top: 45%;
  right: 3%;
  height: 7.5vw;
  width: 1.875vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    color: #f02340;
  }
}
